*,
::after,
::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
article {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}
.container {
  width: 70vw;
  background: var(--clr-white);
  max-width: var(--fixed-width);
}
@media only screen and (max-width: 600px) {
  .container {
    width: 85vw;
  }
}
@media only screen and (max-width: 768px) {
  .container {
    width: 85vw;
  }
}
@media only screen and (min-width: 768px) and (max-width: 992px) {
  .container {
    width: 80vw;
  }
}
.col-4 {
  background-color: rgb(217, 233, 246);
  border-radius: 10px;
  border: double thick #32a1ce;
  border-width: 0.4rem;
}
.img {
  display: flex;
  justify-content: center;
  align-items: center;
}
.img-thumbnail {
  max-height: 25vh;
}
h3 {
  font-size: 1.6rem;
}
h4 {
  font-size: 1.1rem;
}
main {
    background-color: rgb(205, 139, 91);
}
.section {
    width: 90vw;
    margin-bottom: 5px;
    max-width: var(--max-width);
}
.btn {
    box-shadow: 1px 3px 5px black;
    color: white;
}
.col {
    background-color: #4ab7e1;
    border-radius: 10px;
}