*,
::after,
::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
article {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  background-color: #4ab7e1;
  border-radius: 3rem;
  border: thick double #32a1ce;
  margin: 1.5px;
}
.container {
  width: 70vw;
  max-width: var(--fixed-width);
  margin: 0 auto;
  grid-template-columns: auto 1fr;
  text-align: center;
  text-size-adjust: inherit;
}

@media only screen and (max-width: 600px) {
  .container {
    width: 85vw;
  }
}
@media only screen and (max-width: 768px) {
  .container {
    width: 85vw;
  }
}
@media only screen and (min-width: 768px) and (max-width: 992px) {
  .container {
    width: 80vw;
  }
}
.mincol {
  background-color: rgb(217, 233, 246);
  border-radius: 10px;
  border: double thick #32a1ce;
  border-width: 0.4rem;
}
.img {
  display: flex;
  justify-content: center;
  align-items: center;
}
.img-thumbnail {
  max-height: 25vh;
}
h3 {
  font-size: 1.4rem;
}
h4 {
  font-size: 1.1rem;
}
.btn {
  box-shadow: 1px 3px 5px black;
  color: white;
  margin-top: 2.5px;
}
.btn-danger {
  max-width: 25vw;
}
.background {
  background-color: saddlebrown;
}
